pipeline/GetMetaDataPipeline.json
{
	"name": "GetMetaDataPipeline",
	"properties": {
		"description": "This pipeline is used to get metadata from a local file system.",
		"activities": [
			{
				"name": "Get Metadata from Local File System",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetMetadataDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata from Local File System",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata from Local File System').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, 'f')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-06-05T06:02:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}